importFrom("graphics", "plot", "lines", "legend", "curve", "grid", "points")

importFrom("stats", "coef", "formula", "pnorm", "pt", "symnum",
           "terms", "lm", "qt", "qnorm", "sd", "qchisq", "var", "qf",
           "nobs", "vcov", "residuals", "arima.sim", "ts", "runif",
           "rnorm")

importFrom("momentfit", "coef", "vcov", "momentStrength", "modelDims",
           "model.matrix", "specTest", "summary")

importFrom("texreg", "extract", "createTexreg")
 
importFrom("methods", "setMethod")

export(print.metricsSol, testMean, ciMean, testDiffMeans,
       ciDiffMeans, testVar, ciVar, testDiffVar, testRegCoef, ciRegCoef,
       testLinRegCoefs, testRegF, genTS, plot.DemSup, print.DemSup,
       genDemSup, printReg.lm, printReg.tsls, printReg.formula, printReg)

S3method(print, metricsSol)
S3method(plot, DemSup)
S3method(print, DemSup)
S3method(printReg, lm)
S3method(printReg, tsls)
S3method(printReg, formula)



